header {
  display: flex;
  background-color: #aa0000;
  
  padding: 1.5% 3% 1.5% 3%;
  justify-content: space-between;
}

header a {
  float: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
  font-size: x-large;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

h2 { 
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2%;
  padding-right: 2%;
}

nav {
  background-color: #333;
  text-align: right;
  padding: 1.2% 1% 1.2% 0%;
}

nav a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

section p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  padding-left: 2%;
  padding-right: 2%;
}

#mainarticle {
  display: flex;
  width: 75%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}

#left {
  float: left;
}

#right {
  float: right;
}

#locations {
  float: top;
}

footer {
  color: white;
  background-color: #333;
  padding: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}